/* Try different box model properties below */
div.site-header__title + p {
    color: red;
    letter-spacing: 0.1px;
    margin-bottom: 0;
}

div > p:first-child {
    font-size: 12px;
    text-align: center;
}

div.message:last-child {
    box-shadow: 4px 4px 0 #dba944;
}
