* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(30, 30, 33);
  background: radial-gradient(
    circle,
    rgba(30, 30, 33, 1) 0%,
    rgba(125, 99, 255, 1) 100%
  );
}
/* #7d63ff */
/* header */

.header-img {
  background: url("./public/header-img2.png") no-repeat center center/contain;
  height: 700px;
  width: 100%;
}

/* /header */
